<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>

    <header>
        <h1>Pokemon searching mechanism</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png" alt="">
    </header>

    <nav>
      <div id="left_side">
          <a href="/"> Home </a>
          <a href="/search"> Search </a>
      </div>

      <div id="right_side">
          <a href="/register" style="float: right;"> Sign up </a>
          <a href="/login" style="float: right;"> Login </a>
          <a href="/shoppingcart">
              <img src="/images/shopping-cart.png" alt="">
          </a>
      </div>
  </nav>

    <section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="/register" method="POST">

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="firstname"/>
                  <label class="form-label" for="form3Example1cg">Your Firstname</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3cg" class="form-control form-control-lg" name="lastname"/>
                  <label class="form-label" for="form3Example3cg">Your Lastname</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example4cg" class="form-control form-control-lg"  name="email"/>
                  <label class="form-label" for="form3Example4cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" name="password"/>
                  <label class="form-label" for="form3Example4cdg">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

              </form>
              <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                class="fw-bold text-body"><u>Login here</u></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- <form action="/register" method="POST">
        <label for="firstname">First name:</label>
        <input type="text" name="firstname" id="firstname">
        <label for="lastname">Last name:</label>
        <input type="text" name="lastname" id="lastname">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Register</button>
    </form> -->
</body>
</html>