<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/search.css">
    <title>Search</title>

</head>
<body>

    <header>
        <h1>Pokemon searching mechanism</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png" alt="">
    </header>

    <nav>
        <div id="left_side">
            <a href="/"> Home </a>
            <a href="/search"> Search </a>
        </div>

        <div id="right_side">
            <a href="/register" style="float: right;"> Sign up </a>
            <a href="/login" style="float: right;"> Login </a>
            <a href="/shoppingcart">
                <img src="/images/shopping-cart.png" alt="">
            </a>
        </div>
    </nav>
    
    <div id="selectors">
        <h2>Choose how you want to search:</h2>
    
        <select name="poke_type" id="poke_type" style="width: 20vw; margin: 2vw auto;">
            <option value="fire">fire</option>
            <option value="grass">grass</option>
            <option value="electric">electric</option>
            <option value="water">water</option>
            <option value="ground">ground</option>
            <option value="rock">rock</option>
            <option value="fairy">fairy</option>
            <option value="poison">poison</option>
            <option value="bug">bug</option>
            <option value="dragon">dragon</option>
            <option value="psychic">psychic</option>
            <option value="flying">flying</option>
            <option value="fighting">fighting</option>
            <option value="normal">normal</option>
          </select>
          <!-- Dropdown menu to choose either name or id -->
            <select name="search_type" id="search_type" style="width: 20vw;">
                <option value="name">name</option>
                <option value="id">id</option>
            </select>
    
          <!-- search by id/ name -->
          <input type="pokemon" name="pokemon" id="pokemonEntry" placeholder="type id or name">
            <button id="search">search</button>
        </div>
    
    
            <div class="pokemon">
    
            </div>
            <div id="name"></div>
    
          <main>
    
          </main>
    

<script>
    type_g = ''
var now = new Date(Date.now());
var formatted = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();

// Colors for pokemon types
const colors = {
    fire: '#FDDFDF',
    grass: '#DEFDE0', 
    electric: '#FCF7DE', 
    water: '#DEF3FD', 
    ground: '#f4e7da', 
    rock: '#d5d5d4', 
    fairy: '#fceaff', 
    poison: '#98d7a5', 
    bug: '#f8d5a3', 
    dragon: '#97b3e6', 
    psychic: '#eceda1', 
    flying: '#F5F5F5', 
    fighting: '#E6E0D4', 
    normal: '#F5F5F5',
    ice: "42ecf5"
}

// Gets pokemon from pokemon api and displays it in the pokemon div
function getPokemon(e){
    var entry = document.querySelector("#pokemonEntry").value;
    var searchType = $("#search_type").val();
    var number = parseInt(entry);
    // only run if input is a number and search type is id
    if (searchType == "id" && !isNaN(number) && number > 0 && number < 778){
        document.querySelector(".pokemon").style.display = "block";
        $("main").empty()
        fetch(`https://pokeapi.co/api/v2/pokemon/${entry}`)
        .then(response => response.json())
        .then(data => {
            document.querySelector(".pokemon").innerHTML = `
            <div class="pokemon-name">
                <h1>${data.name}</h1>
            </div>
            <div class="pokemon-image">
                <img src="${data.sprites.other["official-artwork"].front_default}" alt="${data.name}">
            </div>
            <div class="pokemon-info">
                <div class="pokemon-info-name">
                    <h2>${data.name}</h2>
                </div>
                <div class="pokemon-info-type">
                    <h3>Type:</h3>
                    <ul>
                        ${data.types.map(type => `<li>${type.type.name}</li>`).join('')}
                    </ul>
                </div>
                <div class="pokemon-info-stats">
                    <h3>Stats:</h3>
                    <ul>
                        ${data.stats.map(stat => `<li>${stat.stat.name}: ${stat.base_stat}</li>`).join('')}
                    </ul>
                </div>
                <div class="pokemon-info-abilities">
                    <h3>Abilities:</h3>
                    <ul>
                        ${data.abilities.map(ability => `<li>${ability.ability.name}</li>`).join('')}
                    </ul>
                </div>
            </div>
            `;

            // change div background color based on type of pokemon
            var type = data.types[0].type.name;
            document.querySelector(".pokemon").style.backgroundColor = colors[type];
        }
        ).catch(error => console.log(error));
        // if search type is name and entry is a string and is not a number
    } else if (searchType == "name" && typeof entry == "string" && isNaN(entry)){
        document.querySelector(".pokemon").style.display = "block";
        $("main").empty()
        fetch(`https://pokeapi.co/api/v2/pokemon/${entry}`)
        .then(response => response.json())
        .then(data => {
            document.querySelector(".pokemon").innerHTML = `
            <div class="pokemon-name">
                <h1>${data.name}</h1>
            </div>
            <div class="pokemon-image">
                <img src="${data.sprites.other["official-artwork"].front_default}" alt="${data.name}">
            </div>
            <div class="pokemon-info">
                <div class="pokemon-info-name">
                    <h2>${data.name}</h2>
                </div>
                <div class="pokemon-info-type">
                    <h3>Type:</h3>
                    <ul>
                        ${data.types.map(type => `<li>${type.type.name}</li>`).join('')}
                    </ul>
                </div>
                <div class="pokemon-info-stats">
                    <h3>Stats:</h3>
                    <ul>
                        ${data.stats.map(stat => `<li>${stat.stat.name}: ${stat.base_stat}</li>`).join('')}
                    </ul>
                </div>
                <div class="pokemon-info-abilities">
                    <h3>Abilities:</h3>
                    <ul>
                        ${data.abilities.map(ability => `<li>${ability.ability.name}</li>`).join('')}
                    </ul>
                </div>
            </div>
            `;

            // change div background color based on type of pokemon
            var type = data.types[0].type.name;
            document.querySelector(".pokemon").style.backgroundColor = colors[type];
        }
        ).catch(error => console.log(error));
    } else {
        display();
    }
}



// processes the response from the pokemon api and displays it in the pokemon div
function processPokeResponse(data){
    if (data.types.length > 0 && data.types[0].type.name == type_g){
        $("main").append(`
        <div class="pokemon-card">
            <div class="pokemon-card-image">
                <img src="${data.sprites.other["official-artwork"].front_default}" alt="${data.name}">
            </div>
            <div class="pokemon-card-info">
                <div class="pokemon-card-info-id">
                    <h3>ID: ${data.id}</h3>
                </div>
                <div class="pokemon-card-info-name">
                    <h2>Name:${data.name} weight: ${data.weight} height: ${data.height}</h2>
                </div>
                <div class="pokemon-card-info-type">
                    <h3>Type:</h3>
                    <ul>
                        ${data.types.map(type => `<li>${type.type.name}</li>`).join('')}
                    </ul>
                </div>
                <div class="pokemon-card-info-stats">
                    <h3>Stats:</h3>
                    <ul>
                        ${data.stats.map(stat => `<li>${stat.stat.name}: ${stat.base_stat}</li>`).join('')}
                    </ul>
                </div>
            </div>
        </div>
        `);
        //add border around pokemon
        $(".pokemon-card").css("border", "1px solid black");
        
        //change div background color based on type of pokemon
            var type = data.types[0].type.name;
            document.querySelector("body").style.backgroundColor = colors[type];
    }
}

// run for loop for the type chosen and pass data to processPokeResponse
function display(type_){
    $("main").empty()
    type_g = type_
    for (i = 1; i < 777; i++){
        // for each pokemon
        $.ajax({
            type: "get",
            url: `https://pokeapi.co/api/v2/pokemon/${i}`,
            success: processPokeResponse
        })
    }
}

// function addNewEvent(poke_type) {
//     $.ajax({
//         url: "http://localhost:5003/timeline/insert",
//         type: "put",
//         data:{
//             text: `A user seartched for ${poke_type}`,
//             time: new Date().toISOString(),
//             hits: 1
//         },
//         success: function(data) {
//             console.log(data);
//         }
//     });
// }

function setup(){
    // display pokemon of type
    display($("#poke_type option:selected").val());
    $("#poke_type").change(() => {
        poke_type = $("#poke_type option:selected").val();
        display(poke_type); 
        // addNewEvent(poke_type);
      })

    $("#search").click(() => {
        getPokemon($("#search_entry").val(), $("#search_type").val());
        if ($("#pokemonEntry").val() == ''){
            document.querySelector(".pokemon").style.display = "none";
            display($("#poke_type option:selected").val());
        } else {
            document.querySelector("body").style.backgroundColor = "white";
        }
    });
}


$(document).ready(setup)
</script>
</body>
</html>