body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

nav {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    overflow: hidden;
}

#left_side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#right_side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 10px;
    color: #f2f2f2;
    text-decoration: none; 
    padding: 14px 16px; 
    text-align: center;
}

nav img {
    width: 30px;
    height: 30px;
}

nav a:hover {
    background-color: #f2f2f2;
    color: rgb(255, 208, 0);
}

.card {
    width: 97%;
    margin: auto;
}
.card-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
}
#right_side {
    border-bottom: 1px solid #333;
    float: right;
}

#right_side1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
    /* border-bottom: 1px solid #333; */
    float: right;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#pokemonEntry {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 50%;
    font-size: 20px;
}


.pokemon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    width: 50%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 10px #ccc;
    justify-content: center;
    align-items: center;
}
.pokemon-card {

    width: 100%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 10px #ccc;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    /* limit to 3 cards per row */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


}

#selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: auto;
}

#images {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 5px;
    padding: 5px 5px;
}






@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 50px;
    }

    header img {
        width: 100%;
        height: auto;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    nav a{
        width: 100%;
        float: none !important;
    }

    #left_side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    #selectors {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        margin: auto;
    }

    #right_side {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    p {
        width: 100%;
        font-size: 18px;
        padding: 0px 5px;
    }
    .pokemon {
        width: 90%;
        margin: 10px;
    }

    #images {
        display: flex;
        width: 95%;
    }

    #images img {
        width: 100%;
        border-radius: 10px;
        padding: 5px;
    }
}